@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat&display=swap');

body {
    padding: 0;
    margin: 0;
    background-image: url("./images/dog-park2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Style element for Hero Image */
.hero {
    height: 100vh;
    width: 100vw;
    min-height: 740px;
    background-image: url("./images/city.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .8);
    font-family: 'Architects Daughter', cursive;
}

.hero .container { 
    text-align: center;
    margin: auto; 
    padding: 1.3em;
    color: #f4e0d4;
    font-size: 20pt;
    background-color: #1b1914be;
    width: 30%;
    min-width: 500px;
}

.pug {
    position: absolute;
    top: 73.4%;
    left: 10%;
}

.pug-city {
    position: absolute;
    top: 78.6%;
    left: 19%;
}

button {
    width: 40%;
    margin: 0% 3%;
    height: 100px;
    font-family: 'Architects Daughter', cursive;
    font-size: 0.8em;
}

.nav {
    min-width: 500px;
}


